        .container-fluid {padding: 0 6%}
        p {font-size: 16px;font-family: 'Quattrocento Sans';}
        .row1 {margin-top:6%;}
        .row1 h1, .row2{font-family:'dosis';font-size: 44px;text-align: center;padding-bottom: 20px;}
        .row1 h1 {font-size: 30px;text-align: center;font-weight: bold;}
        .row1 p{text-align: justify;}
        .row1 ul li{font-family: 'Quattrocento Sans';font-weight: bold;}
        
        .row2 p {font-size: 16px;text-align: justify;}
        .row2 > .col-sm-12 > .row > .info_sec p{text-align: justify;margin-top:4%;}
        .row2 > .col-sm-12 > p {line-height: 140%;}
        .sml_slidr > ul {list-style: none;}
        
        .row3 p {font-size: 16px;margin-bottom: 40px;}
        .sectn_hdrs{margin-bottom: 40px;margin-top: 40px;font-weight: bold;font-family:'dosis';text-transform: uppercase;text-align: center;}
        .contnt {padding:0 14%;}
        img.perf {height: 160px;}
        
        @media screen and (max-width:1140px)
        {
            .contnt {padding: 0 8%; text-align: justify}
            .sml_slidr {width: 50%;}
            .ofic {width: 44%;text-align: justify;}
        }
        
        @media screen and (max-width:870px){
            .sml_slidr {width: 44%;}
        }
        
        @media screen and (max-width:770px){
            .sml_slidr {width: 100%;}
            .ofic {width: 100%;text-align: justify;}
            img.perf {height: 200px;}
        }
        
        @media screen and (max-width:500px){
           .contnt {padding:0 4%;}
            img.perf {margin-left: 10%}
        }
        @media screen and (max-width:400px){
            img.perf {margin-left: 6%}
        }
        @media screen and (max-width:340px){
            .row1 h1 {font-size: 24px;}
             img.perf {margin-left: 0%}
        }