#location {height:300px;width:100%}
.contct_sectn {margin-top:6%;padding:6%;padding-top:0;}
.form-group {padding-top:3%;}
input[class="form-control"], textarea[class="form-control"] {border-radius:0;border:1px solid grey;color:black}
input[class="form-control"]:focus, textarea[class="form-control"]:focus {box-shadow:none;border-color:red}
.submit, .reset {margin-top:10%;color:white;font-size:20px;border-radius:0;border:0}
.submit {background:#cc0000;color:white}
.reset {background:#212121;}
.reset:hover, .reset:active, .reset:focus {background:#212121;color:#dbdbdb}
.submit:hover, .submit:active, .submit:focus {background:#b20000;color:white;transition:background 0.1s ease-in}
.form_hdrs {text-align:center;}
.method_bx {padding-bottom:16%;}
h2.form_hdrs {text-transform:uppercase;}
h4.form_hdrs {font-weight:bold;}
.sub_text {font-weight:bold;}
.form-group {padding-top: 4%;}
.method_bx {padding-top: 20%;}
.contct-boxes1 {padding-top: 14%;}
.contct-boxes2 {padding-top: 6%;}
.contct-boxes3 {padding-top: 6%;}
.btn_sectn {padding-top:3%;}
.invalid {color:red;font-weight: bold;}	

/*responsive content*/
@media screen and (max-width:420px) {#location {height:200px;}
    .btn_sectn {padding-top:0%;}
    .contct_details {margin-top:16%;padding-top:10%;border-top:1px solid #dbdbdb;}
}