 .top_div div > h1 {position: relative;color:white;text-transform: uppercase;text-shadow: 1px 1px 2px rgba(0,0,0,0.3);padding:3% 0 0 2%; font-size: 64px;}    
/*1st part of container*/
.container_hdr {padding: 4%;color: #212121; border-bottom: 1px dashed #212121;}
.container_hdr h1, .container_hdr h4 {font-family: 'abel'; text-transform: uppercase;text-align: center;}
.container_hdr h1 {font-size: 40px;font-weight: bold;text-shadow: 1px 1px 2px rgba(0,0,0,0.4);}
.container_hdr h4 {font-size: 30px;}
.row2 {margin-top: 6%;} 
.row2 h1{text-transform: uppercase;font-family: 'Rajdhani';font-size: 40px;text-align: center;margin-top:4%;}
.row2 a{color: #212121; font-family: 'Maven Pro';font-weight: bold;}
.row2 p{font-size: 18px;font-family: 'Quattrocento Sans';padding: 2%;text-align: justify;}
.comp_nm {font-weight: bold;}   
/*horizontal line*/
.undline {height:0px;border-bottom: 1px solid #dbdbdb;}
.top_prt {padding:10px 40px;}

#last_hd {text-align: center;margin-top: 0%;background:  #2838A6;color: white;padding: 10px;font-family: rajdhani;font-size: 30px;}
.col1 {border-right: 1px solid #dbdbdb;}
#locations {height:400px;width:100%}
/*responsive*/
@media screen and (max-width:1140px){
    .container {width: 100%}
}    
    
@media screen and (max-width: 800px)
{
    .container_hdr h1 {font-size: 36px;}
    .container_hdr h4 {font-size: 26px;}
    .container h1 {font-size: 36px;}
    
}
@media screen and (max-width: 720px)
{
    .container_hdr h1 {font-size: 30px;}
    .container_hdr h4 {font-size: 20px;}
    .container h1 {font-size: 30px;}
}
    
@media screen and (max-width: 600px)
{
    .container_hdr h1 {font-size: 28px;}
    .container_hdr h4 {font-size: 20px;}
    .row2 p{font-size: 14px;}
}
    
@media screen and (max-width: 500px)
{
    .container h1 {font-size: 26px;}
    .top_prt {padding:0;}
}
@media screen and (max-width:440px)
{
    h1.pg_nm {font-size: 32px;}
} 
@media screen and (max-width: 400px)
{
    #last_hd{font-size: 24px}
}

@media screen and (max-width: 340px)
{
    .container_hdr h1 {font-size: 24px;}
    .container_hdr h4 {font-size: 16px;}
} 