body {overflow-x: hidden;}
h1, h2,h3,h4,h5,h6 {margin:0;}
 .sidd {color:#2E41BF;}   
/*Navigation bar*/
.toggle-nav {
    display:none;
    text-decoration: none;
}
 .nav_bar {padding: 4%;padding-top: 1%;background: #012840;box-shadow: 1px 0 2px 2px rgba(0,0,0,0.8);border-bottom: 2px solid rgba(0,0,0,0.1);}
.nav_bar h1 {float: left;color: white;font-size: 40px;font-family: 'Maven Pro';}
#sid {color:#2E41BF;font-weight: bold;text-shadow: 1px 1px 2px rgba(0,0,0,0.4);}
.nav_bar ul {height: auto;padding: 8px 0px;margin: 0px;position: absolute;right: 10px;}
.nav_bar ul > h3 {display: none;}
.nav_bar li {display:inline;}
.nav_bar li a {text-decoration: none;font-size: 16px;color: white; padding: 10px 16px;background-color: transparent;margin: 0;font-family: "PT Sans Narrow"; transition: all 0.3s;}
.nav_bar li a:hover{background-color: #2838A6;color: white;}
    
/*div with a background image*/
.top_div {background-image: url(../../assets/img/indximg2.jpg);background-repeat: no-repeat;background-position: center; background-size: cover; height:140px;width:100%;}

/*Page name section*/
.pg_nm {color:white;background:#212121;padding:10px;padding-left: 4%; font-family: 'PT Sans Narrow';}
        h1.pg_nm {font-size: 40px;text-transform: uppercase;}


/*Responsive menu*/
@media screen and (max-width: 1000px)
{
    body
    {overflow-x: hidden;}
     
   .toggle-nav {
    padding:0px 10px;
        float:right;
        display:inline-block;
        box-shadow:0px 1px 1px rgba(0,0,0,0.15);
        border-radius:3px;
        background:transparent;
        text-shadow:0px 1px 0px rgba(0,0,0,0.5);
        transition:color linear 0.15s;
        font-size: 30px;
   }

    .nav_bar {
        position:relative;
        display:inline-block;
        width: 100%;
        padding-bottom: 10px;
    }
    .nav_bar ul > h3 { display: block;padding: 16px;color:white;background: #212121;text-transform: uppercase;}
    .nav_bar li a:hover{background-color: transparent;}
    .nav_bar li{background-color: transparent;transition: all 0.3s;}
    .nav_bar li:hover{background-color: rgba(43,43,43,0.98);s}
    
    .nav_bar ul.active
    {
        right: -100%;
        transition: all 0.2s;
    }
    .nav_bar ul {
        width:40%;
        position:absolute;
        right: 0px;
        top:0px;
        padding:0px;
        box-shadow:0px 1px 1px rgba(0,0,0,0.15);
        background:rgba(48,48,48,0.98);
        transition: all 0.2s;
        z-index: 100;
    }
    
    .menu_icn {float :right;cursor: pointer;padding-right: 10px;}
    
    .nav_bar li  {
        padding:5px 0px 5px 0px;
        float:none;
        border-bottom: 1px solid rgba(43,43,43,0.98);
        display:block;
        font-family: 'PT Sans';
        text-transform: uppercase;
    }
    
    .nav_bar li:last-child {border: 0;}
    .nav_bar li a {font-family: 'open sans';color: #dbdbdb;}
    .nav_bar a {display:block; }

}

@media screen and (max-width: 800px)
{
    .nav_bar h1 {font-size: 30px;margin-top:6px;}
    
    .nav_bar ul {
        width:100%;}
}
