@font-face {font-family: 'siddharthlig';src: url('../../assets/fonts/siddharthlig.ttf');}
body, html{font-family: siddharthlig, sans-serif;overflow-x: hidden}
h1,h2,h3,h4,h5,h6{margin:0} .container-fluid{padding: 2%;} .main_cont{background:#212121;padding-bottom: 10px}
h1#company_name span {color: #cc0000;font-weight: bold;float:left;font-size:50px;padding:0 10px;margin-left:10px;text-shadow: 0px 1px 0 #4c0000,
0 1px 0 #4c0000,
0 2px 0 #4c0000,
0 3px 0 #4c0000,
0 3px 0 #4c0000,
0 4px 1px rgba(0,0,0,.1),
0 0 5px rgba(0,0,0,.1),
0 1px 3px rgba(0,0,0,.3),
0 3px 5px rgba(0,0,0,.2),
0 5px 10px rgba(0,0,0,.25),
0 10px 10px rgba(0,0,0,.2),
0 20px 20px rgba(0,0,0,.15);}
h4#moto {color:grey;float:right;margin-top:10px;border-left:1px solid grey;padding:10px 14px}
span#comp_nm_nv {margin-left:-100%;opacity: 0; color: #cc0000;font-weight: bold;float:left;font-size: 34px;transition: margin-left 0.1s ease-in}
/*p {font-size: 16px}*/
span#comp_nm_nv.active {margin-left: 10px;opacity: 1; transition: all 0.4s ease-in}
.nav_br {background:black;margin-top: 2%;width: 100%;box-shadow: 0 0 4px 2px rgba(0,0,0,0.2);}
.nav_br.active {background: #111111; position: fixed;z-index: 100;left: 0;top: 0;margin-top: 0%;padding: 10px;}
.nav_br ul{list-style: none;transition: float 0.4s ease-in}
.nav_br ul.active{float: right;margin-top:4px;transition: float 1s ease-in}
.nav_br ul li{display: inline-block;padding: 4px 20px;font-size: 20px;color: white;transition: all 0.2s ease-in;}
.nav_br ul li#menu_list_icon{display: none}
.nav_br ul a {text-decoration: none;}
.nav_br ul a:hover li{background:#7f0000;color:white;font-weight:bold;transition: all 0.2s ease-in;}
span#menu_icon {display: none;}
.top_div {background-image: url(../../assets/img/indximg2.jpg);background-repeat: no-repeat;background-position: center; background-size: cover; height:140px;width:100%;}
.pg_nm {color:white;background:#141414;padding:10px;padding-left: 4%;}
h1.pg_nm {font-size: 40px;text-transform: uppercase;}

.footr {text-align: center;padding: 20px 0 20px 0;}
.footr h5{background:#f5f5f5;padding: 20px;}
.footr a{color:red}

@media screen and (max-width:1140px){h1#company_name span {font-size: 44px}}
@media screen and (max-width:908px){h1#company_name span {font-size: 40px}}
@media screen and (max-width:859px){h1#company_name span {font-size: 36px;margin-top: 10px}}
@media screen and (max-width:802px){h1#company_name span {font-size: 32px;}}
@media screen and (max-width:748px){
    h1#company_name span {font-size: 28px;}
    h4#moto{padding:6px 14px}
}
@media screen and (max-width:695px){h4#moto{font-size: 16px}}
@media screen and (max-width:662px){
    h1#company_name span {font-size: 44px;}
    h4#moto{float: left;border-left: 0;margin-left: 10px;font-size: 20px}
}
@media screen and (max-width:600px){
.nav_br ul {padding-left: 0px; position: fixed;left: 0;height: 0;overflow: hidden; z-index: 100;background: black;width: 100%;
transition: height 0.2s ease-out}
.nav_br ul.active1{height:100%;transition: height 0.2s ease-in}
.nav_br ul li {border-bottom: 1px solid #141414}
.nav_br ul li, .nav_br ul li#menu_list_icon {display: block;padding: 10px;padding-left: 20px;text-align: center; font-size: 26px}
.nav_br ul li#menu_list_icon {background: #141414;border-bottom:0}
.nav_br span#menu_icon {position: relative;padding: 10px; display: inline-block;color: white;font-weight: bold;font-size: 30px;float: right}
.nav_br span#menu_icon.active {margin-top: -10px;}
.nav_br {height: 60px;margin-bottom: 10px}
.nav_br.active {background: #111111; position: fixed;z-index: 100;left: 0;top: 0;margin-top: 0%;padding: 10px;}
}
@media screen and (max-width:584px){h1#company_name span {font-size: 40px;}}
@media screen and (max-width:531px){h1#company_name span {font-size: 36px;}}
@media screen and (max-width:500px){
    .top_div {height: 100px;}
    span#comp_nm_nv {font-size: 30px}
}
@media screen and (max-width:478px){
    h1#company_name span {font-size: 32px;}
    h4#moto{font-size: 16px}
    span#comp_nm_nv {font-size: 28px}
}
@media screen and (max-width:440px){.top_div {height: 80px;}h1.pg_nm {font-size: 32px;}}
@media screen and (max-width:430px){
    h1#company_name span {font-size: 30px;}
    h4#moto{font-size: 14px;margin-top: -4px}
}
@media screen and (max-width:400px){
h1#company_name span {font-size: 34px;}
h4#moto{font-size: 18px;}
}
@media screen and (max-width:340px){
    h1#company_name span {font-size: 38px;margin-left: 20px}
    h1.pg_nm {font-size: 24px;}
    span#comp_nm_nv {font-size: 24px;margin-top: 4px;}
    span#comp_nm_nv.active {margin-left: 6px;}
}