@font-face {font-family: 'siddharthlig';src: url('../fonts/siddharthlig.ttf');}
body, html {overflow-x: hidden}
body{background: #212121;font-family: 'abel', sans-serif;}
h1, h2, h3, h4, h5, h6 {margin: 0}
a {text-decoration: none;}
.main_cont {padding-bottom: 4%}
.ro1{padding:10px;border-bottom: 1px solid #282828;background: #212121}
.ro1 .col-sm-5 {color: white;}
h1#company_name {font-family: siddharthlig, sans-serif;color: #cc0000;font-weight: bold;font-size:46px;text-shadow: 0px 1px 0 #4c0000,
0 1px 0 #4c0000,
0 2px 0 #4c0000,
0 3px 0 #4c0000,
0 3px 0 #4c0000,
0 4px 1px rgba(0,0,0,.1),
0 0 5px rgba(0,0,0,.1),
0 1px 3px rgba(0,0,0,.3),
0 3px 5px rgba(0,0,0,.2),
0 5px 10px rgba(0,0,0,.25),
0 10px 10px rgba(0,0,0,.2),
0 20px 20px rgba(0,0,0,.15);}
h3#knwn_as {color: white;margin-top: 4px}
h4#moto {color: grey;}
.ro2 {padding: 20px;padding-bottom: 0;}
.tabs {display: none}
.tabs.active {display: block}
.info h2{color: white;font-size: 30px; font-weight: bold;padding-bottom: 10px; border-bottom: 1px solid #282828;}
.info p {color: grey;font-size: 18px}
.info h3 {color: white;font-size: 22px}
.info ol, .info ul li {color: grey; font-size: 16px}
.info ul {list-style: disc;}
.info a {font-size: 20px}
.info{height: 400px; overflow-y: scroll}
/*image slider*/
.pic_sectn  {position:relative;height: 500px;width: 100%;margin-left: 0px;overflow:hidden;}
.pic_sectn ul {list-style: none;position: relative;top: 0;left: 0;}
.pic_sectn ul li{position: absolute;top: 0;left: 0;}
.pic_sectn li h2 {text-transform: uppercase;color: white;
background-image: -webkit-gradient(
linear,
left top,
left bottom,
color-stop(0, #5D77BA),
color-stop(1, #234A88)
);
background-image: -o-linear-gradient(bottom, #5D77BA 0%, #234A88 100%);
background-image: -moz-linear-gradient(bottom, #5D77BA 0%, #234A88 100%);
background-image: -webkit-linear-gradient(bottom, #5D77BA 0%, #234A88 100%);
background-image: -ms-linear-gradient(bottom, #5D77BA 0%, #234A88 100%);
background-image: linear-gradient(to bottom, #5D77BA 0%, #234A88 100%);
padding: 10px;padding-right: 4%;font-weight: bold;font-size: 24px}
img.slids {width: 100%;height: 400px}

#locations {height:400px;width:100%}
.extrusion_cont {display: none;padding-bottom: 16%}
.extrusion_cont.active {display: block;}

.ro3 {padding: 20px;padding-left: 0;padding-bottom: 10px; position: fixed;bottom: 0;width: 100%;background: rgba(0,0,0,0.4);}
.ro3 ul {list-style: none;float: right}
.ro3 ul li{display: inline;margin-right: 10px}
.ro3 ul li a{text-decoration: none;border-radius: 5px;background: black;color: white;padding: 10px 20px;font-weight: bold;font-size: 26px;transition: all 0.2s ease-out}
.ro3 ul li a:hover {background: #800000}
.ro3 ul li a.active{background: #800000;padding: 16px 26px;transition: all 0.2s ease-in}
.link-icons {display: none}

/*Modal*/
.modal_readmore {position: fixed;width: 100%;height: 100%;z-index: 100;background: rgba(0,0,0,0.8);display: none;overflow-y: hidden}
.modal_readmore .modal_sectn {background: white;color: white;margin: 40px 140px 0;color: #212121;padding: 20px}
.modal_readmore .modal_sectn h2 {float: right;}
.modal_readmore .modal_sectn h2 a{text-decoration: none;}
.modal_readmore .modal_sectn ul {list-style: decimal;font-weight: bold;}
.modal_readmore .modal_sectn ul li {line-height: 180%}
.modal_readmore .modal_sectn ul#sublist {list-style:disc;font-weight: normal}
.modal_readmore .modal_sectn ul#sublist li {line-height: 140%}

.info::-webkit-scrollbar {width: 12px;}
.info::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
.info::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background:rgba(0,0,0,0.5); 
}

@media screen and (max-width:1160px){
.modal_readmore .modal_sectn {margin:10px 140px 0;}
.numb1, .numb2 {width: 100%}
.pic_slidr, .pic_slidr2, .pic_slidr3, .pic_slidr4, #locations, img.slids{height: 340px}
.tabs li h2 {font-size: 24px}
}

@media screen and (max-width:1076px){
.modal_readmore {overflow-y: auto}
h1#company_name{font-size: 40px}
h3#knwn_as {font-size: 24px}
h4#moto {font-size: 18px}
.ro1 .col-sm-5 h4 {font-size:16px}
.ro1 .col-sm-5 h5 {font-size:14px}
.ro3 ul li a{padding: 8px 16px;font-size: 20px;}
.ro3 ul li a.active{padding: 14px 20px}
.tabs li h2{font-size:18px}
.info h2 {font-size:28px}
.info p{font-size:16px}
.info ol, .info ul li {font-size: 14px}
}

@media screen and (max-width:838px){
	.modal_readmore .modal_sectn {margin:10px 100px 0;}
	.info {padding-bottom: 20%}
}

@media screen and (max-width:802px){
	.info {padding-bottom: 30%;}
	.ro3 ul{text-align: center;float: none}
	.ro3 ul li a {border-radius: 30px;padding: 10px 12px;}
.ro3 ul li a.active{padding: 18px 22px;}
	.link-names{display: none}
	.link-icons{display: inline}
}

@media screen and (max-width:767px){
	.modal_readmore .modal_sectn {margin:10px;}
	.main_cont {padding-bottom: 12%}
	.info {padding-bottom: 0%;}
	.ro1 .col-sm-5 h4{margin-top: 10px;}
	.tabs li h2{font-size:20px}
	.info {margin-top: 20px}
}

@media screen and (max-width:559px){
	.main_cont {padding-bottom: 18%}
	h1#company_name{font-size: 38px}
	h1#company_name span{display: none}
	h3#knwn_as {font-size: 22px}
	.info h2 {font-size:22px}
	.info p {font-size:16px}
	.info ol, .info ul li {font-size:14px}
}

@media screen and (max-width:460px){
	.modal_sectn ol {padding-left: 10px}
	.modal_sectn ul {padding-left: 18px}
	.pic_slidr, .pic_slidr2, .pic_slidr3, .pic_slidr4, img.slids, #locations{height: 200px}
	.tabs li h2 {font-size: 18px}
	.info p {font-size:14px}
	.info ol, .info ul li {font-size:12px}
}

@media screen and (max-width:426px){
	.main_cont {padding:0px;padding-bottom: 20%}
	h1#company_name{font-size: 36px}
	h3#knwn_as {font-size: 18px}
	h4#moto {font-size: 16px}
	.ro1 .col-sm-5 h4 {font-size:14px}
	.ro1 .col-sm-5 h5 {font-size:12px}
	.ro3 {margin-left: 0}
}

@media screen and (max-width:400px){
	.modal_sectn ol, .modal_sectn ul {font-size: 12px;}
	.tabs li h2 {font-size: 14px}
}

@media screen and (max-width:363px){
	.ro3 ul li a {font-size:20px;padding: 8px 10px;}
	.ro3 ul li a.active{padding: 16px 20px;}
}

@media screen and (max-width:342px){
	.info h2 {font-size:20px}
	.info p, .info ol, .info ul li {font-size:12px;margin-top: 10px}
	.ro3 ul li a {font-size:16px;padding: 6px 8px;}
	.ro3 ul li a.active{padding: 14px 18px;}
}